body  {
    background-image: url("https://i.stack.imgur.com/yZYef.gif");
}

h1 {
	padding: 15px;
	background-color: orange;
	color: white;
}

.content {
	padding: 30px;
	background-color: beige;
	color: green;
}

.given-number {
	padding: 50px;
	background-color: green;
	margin-top: 10px;
	margin-bottom: 20px;
	color: white;
	font-size: 30px;
}

.result {
	padding: 30px;
	background-color: yellow;
	color: black;
	font-size: 20px;
	margin-top: 10px;
}

#gemDiv {
	padding: 15px;
	background-color: beige;
	margin-top: 10px;
	margin-bottom: 10px;
}

#guess {
	padding: 20px;
	color: white;
	background-color: green;
	margin-top: 20px;
}

#display {
	padding: 10px;
	background-color: turquoise;
	font-size: 25px;
	color: white;
	margin-top: 20px;
}

.winloss {
	padding: 40px;
	background-color: yellow;
	margin-top: 15px;
	margin-bottom: 10px;
}